<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} - VEFÞ2VF</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='styles.css') }}">
    {% endblock %}
</head>
<body>
    <a href="/karfa">
    <img class="karfa" src="/static/karfa.jpg"> </a>
        - Smelltu á körfuna til að sjá valdar vörur.
    {% if 'karfa' in session: %}
        <span> ( {{ fjoldi }} ) </span>
    {% else %}
        <span> ( 0 ) </span>
    {% endif %}

    <main>
        {% block content %} {% endblock %}
    </main>
    
    {% include "fotur.tpl" ignore missing %}
</body>
</html>